@page
@model Website.Pages.MenuModel
@{
	ViewData["Title"] = "Menu";
}

<h1>Menu</h1>

<h2>Combos</h2>
@foreach (@DinoDiner.Menu.IMenuItem item in @Model.Menu.AvailableCombos)
{
	<div class="menu-item">- @item.ToString()</div>
}
<h2>Entrees</h2>
@foreach (@DinoDiner.Menu.IMenuItem item in @Model.Menu.AvailableEntrees)
{
	<div class="menu-item">- @item.ToString()</div>
}

@* Should I add each individual size?? *@

<h2>Sides</h2>
@foreach (@DinoDiner.Menu.IMenuItem item in @Model.Menu.AvailableSides)
{
	<div class="menu-item">- @item.ToString()</div>
}
<h2>Drinks</h2>
@foreach (@DinoDiner.Menu.IMenuItem item in @Model.Menu.AvailableDrinks)
{
	<div class="menu-item">- @item.ToString()</div>
}
<h3 style="text-align:left;font-size:15px"><a href="/Index">Home</a></h3>
